.nav-link{
    color:white;
    font-size:22px ;
  }
  
  .active{
    font-weight:bolder ;
    text-decoration: underline;
    color:white !important;
  }
  
  .nav{
   background-color: black !important;
  }
  .navbar-toggler{
    background-color: white !important;
   }